@font-face {
    font-family: Abadi;
    src: url(fonts/abadi-mt.ttf);
}

html {
    margin: 5%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Abadi;
    color: #3f337e;
}


img#banner {
    width: 85%;
}

a#qui-sommes-nous {
    margin-bottom: 50px;
}

.main-link {
    text-decoration: none;
    font-size: 19px;
    color: #ffffff;
    border: 2px #ffffff dotted;
    padding: 10px;
    background: #6b5fa4;
    margin-bottom: 27px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* width: -webkit-fill-available; */
    /*! width: -moz-available; */
    /* For Mozzila */
    justify-content: center;
    align-items: center;
}

div#links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

div#utiles {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

div#columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

div#social img {
    width: 30px;
}

div#social {
    padding: 10px;
    width: 40%;
    border-top: 2px solid #423680;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

div#contact {
    margin-top: 10px;
}

div#title {
    font-size: 35px;
    text-align: center;
    width: 100%;
}

div#title span {
    margin-left: 49px;
}

div#title img {
    width: 233px;
}

img#cover {
    width: 80%;
}

main img {
    width: -webkit-fill-available;
    width: -moz-available;
    width: 100%;
}

img#meeting {
    margin-top: 70px;
}

p {
    white-space: pre-line;
    line-height: 20px;
    width: 100%;
}

img.logo {
    height: 60px;
}

a#avant-programme {
    margin: 0;
}

aside {
    background: #b6c3ed;
    padding: 10px;
    color: #ffffff;
    /*! min-width: 246px; */
}

aside a {
    color: #2a307b;
    white-space: nowrap;
}

div#link-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

div#logos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

b {
    font-size: 17px;
    /* font-weight: lighter; */
}

p#planning {
    background: #e0e7ff;
    padding: 15px;
    padding-top: 0px;
}


a#accueil {
    position: fixed;
    left: 5px;
}

@media (orientation: portrait) {
    html {
        margin: 0;
        /* font-size: 50px; */
    }

    body {
        max-width: unset;
        width: 100%;
    }
    main {
        margin-top: 50px;
        margin-bottom: 50px;
        margin: 30px;
    }

    img#banner {
        width: 100%;
    }

    div#title img {
        width: 50%;
    }
    .main-link {
    /* font-size: 60px; */
    /* padding: 33px; */
    /* border-width: 6px; */
}
    div#columns {
    flex-direction: column;
}
    div#utiles {
    /* font-size: 50px; */
}
aside {
    background: #b6c3ed;
    padding: 30px;
    color: #ffffff;
    margin: 20px;
}
aside a {
    margin-bottom: 20px;
}
div#social img {
    /* width: 100px; */
}
div#social {/* border-width: 5px; */}
a#accueil {
    position: unset;
    /* font-size: 50px; */
}
p {
    /* line-height: 50px; */
    /* font-size: 35px; */
}
div#link-container {
    justify-content:center;
}
div#logos {
    flex-direction: column;
}
img.logo {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}
h2 {
        /* font-size:60px; */
}
}

.xl655014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl665014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl675014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#A6C9EC;
	mso-pattern:black none;
	white-space:nowrap;}
.xl685014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl695014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl705014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl715014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl725014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl735014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl745014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl755014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl765014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:normal;}
.xl775014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#D0D0D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl785014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#D0D0D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl795014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#CAEDFB;
	mso-pattern:black none;
	white-space:nowrap;}
.xl805014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#A6C9EC;
	mso-pattern:black none;
	white-space:nowrap;}
.xl815014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#A6C9EC;
	mso-pattern:black none;
	white-space:normal;}
.xl825014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#DAF2D0;
	mso-pattern:black none;
	white-space:normal;}
.xl835014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#D0D0D0;
	mso-pattern:black none;
	white-space:nowrap;}
.xl845014
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:#A6C9EC;
	mso-pattern:black none;
	white-space:nowrap;}

	.hidden-on-start{
		display: none;
	}

div#a\ class\= {}

div#buttonbar {
    margin: 34px;
}

a.main-link.active {
    background: #463c74;
}

a.main-link:hover {
    background: #463c74;
}

.dedicace {
    display: flex;
    flex-direction: row;
}

.dedicace img {
    width: 150px;
    margin: 20px;
}

div#dedicaces h2 {
    white-space: pre-line;
    text-align: center;
}

.organisateur {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid;
    margin-top: 25px;
    padding-top: 50px;
}

.organisateur img {
    width: 200px;
    height: max-content;
    margin: 15px;
    margin-bottom: 35px;
}

.target {
    display: none;
}