@font-face {
    font-family: Abadi;
    src: url(fonts/abadi-mt.ttf);
  }

html {
      margin: 5%;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
}
  
body {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Abadi;
    color: #3f337e;
}
  



img#banner {
    width: 85%;
    margin-bottom: 50px;
}

a#qui-sommes-nous {
    margin-bottom: 50px;
}

.main-link {
    text-decoration: none;
    font-size: 19px;
    color: #ffffff;
    border: 2px #ffffff dotted;
    padding: 10px;
    background: #443786b5;
    margin-bottom: 27px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 0px;
    /* width: -webkit-fill-available; */
    width: -moz-available;          /* For Mozzila */
    /* justify-content: flex-start; */
    align-items: center;
}

div#links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div#links span {margin-bottom: 15px;font-size: 16px;}

div#columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

div#social img {
    width: 30px;
}

div#social {
    margin-top: 10px;
    padding: 10px;
    width: 40%;
    border-top: 2px solid #423680;
    display: flex;
    justify-content: space-around;
}

div#contact {
    margin-top: 10px;
}

div#title {
    font-size: 35px;
    text-align: center;
    width: 100%;
}

div#title span {
    margin-left: 49px;
}

div#title img {
    width: 233px;
}

img#cover {
    width: 80%;
}

main img {
    width: -webkit-fill-available;
    width: -moz-available;
    width: 100%;
}

img#meeting {
    margin-top: 70px;
}

p {
    white-space: pre-line;
    line-height: 20px;
}

img.logo {
    width: 30%;
}