@font-face {
    font-family: Abadi;
    src: url(fonts/abadi-mt.ttf);
  }

html {
      margin: 5%;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
}
  
body {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Abadi;
    color: #3f337e;
}
  



img#banner {
    width: 85%;
}

a#qui-sommes-nous {
    /* margin-bottom: 50px; */
}

.main-link {
    text-decoration: none;
    font-size: 19px;
    color: #ffffff;
    border: 2px #ffffff dotted;
    padding: 10px;
    background: #6b5fa4;
    margin-bottom: 27px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* width: -webkit-fill-available; */
    /*! width: -moz-available; */          /* For Mozzila */
    justify-content: center;
    align-items: center;
}

div#links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

div#utiles {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

div#columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

div#social img {
    width: 30px;
}

div#social {
    padding: 10px;
    width: 40%;
    border-top: 2px solid #423680;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

div#contact {
    margin-top: 10px;
}

div#title {
    font-size: 35px;
    text-align: center;
    width: 100%;
}

div#title span {
    margin-left: 49px;
}

div#title img {
    width: 233px;
}

img#cover {
    width: 80%;
}

main img {
    width: -webkit-fill-available;
    width: -moz-available;
    width: 100%;
}

img#meeting {
    margin-top: 70px;
}

p {
    white-space: pre-line;
    line-height: 20px;
    width: 100%;
}

img.logo {
    height: 60px;
}

a#avant-programme {
    margin: 0;
}

aside {
    background: #b6c3ed;
    padding: 10px;
    color: #ffffff;
    /*! min-width: 246px; */
}

aside a {
    color: #2a307b;
    white-space: nowrap;
}

div#link-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

div#logos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

b {
    font-size: 17px;
    /* font-weight: lighter; */
}

p#planning {
    background: #e0e7ff;
    padding: 15px;
    padding-top: 0px;
}

b {}

a#accueil {
    position: fixed;
    left: 5px;
}